@import '~bootstrap/scss/bootstrap';

.jumbotron{
    height: 500px;

    img{
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.topbar{
    font-size: 10px;

    button{
        padding: 0;
        font-size: 10px;
    }
}

.logo{
    height: 15vh;

    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}

nav{
    height: 15vh;
    input{
        width: 150px;
    }
}

.img_wrap{
    width: calc(100%/6);
    height: calc(100%/2);

    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}

.img_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.bar_image{

    display: inline-block;
    text-align: center;
    padding: 2rem;

    p{
        padding-top: 1.5rem;
    }

    div{
        width: 50px;
        height: 50px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.cnt{
    p{
        font-size: 12px;
        padding-left: 0.5rem;
    }
}

footer{
    background-image: url('/resources/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

.logo_footer{
    padding-left: 5rem;
}

.footbar, .img_cnt{
    background-color: rgb(28,28,28);
}

.current-series{
    position: absolute;
    top: -20px;
}

.line{
    height: 10vh;
}

.cnt_single{
    width: 60%;
    margin: auto;
}



